<div class="container">
  <h2>liste des dépenses</h2>
  <% @spendings.each do |spending| %>
    <p><%= spending.name %> | <%= spending.amount %> euros | Payé par: <%= spending.tribe.admin.first_name %></p>
  <% end %>
</div>
