// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Colors for tribes
//$tribe_blue:#466C9D;
$tribe_blue: #15537A;
$tribe_green: #2CC7AF;
//$tribe_green:#73A580;
$tribe_red:#FA672A;
//$tribe_red:#DD614A;

//Balmoral base colors
$balmoral_dark_grey: #808080;
$balmoral_light_gray: #DEDEDE;
$balmoral_yellow: #FBC24C;
$balmoral_blue: #358EC6;
$balmoral_background: #F5F6FF;
