// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500&family=Space+Mono&display=swap');

// Define fonts for body and headers
$body-font: 'Montserrat', sans-serif;
$headers-font: 'Poppins', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-family: $body-font;
  font-weight: 500;
  font-size: 1.2rem !important;
  color: $balmoral_dark_grey;
}

h2 {
  font-family: $body-font;
  font-weight: 100;
  font-size: 1.1rem !important;
  color: $balmoral_dark_grey;
}

p {
  font-family: $body-font;
  font-weight: 100;
  font-size: 0.9rem;
  color: $balmoral_dark_grey;
}
