<div class= "container">
  <%= month_calendar(events: @bookings, attribute: :arrival, end_attribute: :departure) do |date, bookings| %>
    <%= date %>
    <% bookings.each do |booking| %>
      <div class="meeting-<%=booking.user.tribe.color%>">
        <%=date%>
      </div>
    <% end %>
  <% end %>
</div>
