<!-- we already have a preview. Clicking on it makes the simple_booking_modal appear -->
<div class="container" data-controller="booking-modal">
  <div class="simple-booking-overlay d-none" data-booking-modal-target="bookingOverlay">
    <div class='simple-booking d-none' data-booking-modal-target="bookingModal">
      <%= render 'shared/simple_booking_modal', booking: current_user.bookings.first %>
    </div>
  </div>
  <%= render 'shared/simple_booking_preview', booking: current_user.bookings.first %>
</div>


<div class="container" data-controller="booking-preview-modal">
  <button data-action="click->booking-preview-modal#openBookingPreviewModal" data-preview-booking-modal-target="openBookingPreviewButton">MONTRER LA PREVIEW DU BOOKING</button>
  <div class="simple-booking-overlay d-none" data-booking-preview-modal-target="bookingPreviewOverlay">
    <div class='simple-booking-preview d-none' data-booking-preview-modal-target="bookingPreviewModal">
      <%= render 'shared/simple_booking_preview', booking: current_user.bookings.first %>
    </div>
  </div>
</div>
