<!-- Simple pop-up dialog box, containing a form -->
<div class="container">
  <div class="simple-booking-overlay d-none" id="booking-overlay">
    <div id="booking-modal" class='simple-booking d-none'>
      <%= render 'shared/simple_booking_modal', booking: @bookings.first %>
    </div>
  </div>
  <button id="view-booking">view booking</button>
</div>

<%# -------------------------------------------------- %>
<%# -------------------------------------------------- %>
<%# JAVASCRIPT BELOW %>
<script>
    (function() {
      let viewBookingButton = document.getElementById('view-booking');
      let closeButton = document.getElementById('close-button');
      let bookingModal = document.getElementById('booking-modal');
      let bookingOverlay = document.getElementById('booking-overlay');

      // View booking button opens a modal bookingModal
      viewBookingButton.addEventListener('click', function() {
        bookingModal.classList.remove('d-none');
        bookingOverlay.classList.remove('d-none');
        viewBookingButton.classList.add('d-none');
      });

      // Close button closes the bookingModal box
      closeButton.addEventListener('click', function() {
        bookingModal.classList.add('d-none');
        bookingOverlay.classList.add('d-none');
        viewBookingButton.classList.remove('d-none');
      });

    })();
  </script>
