<div class="container">
  <h2>Liste des réservations pour <%= @house.name %></h2>
      <div>
          <% @bookings.each do |booking| %>
            <%= render 'shared/booking_preview', booking: booking %>
          <% end %>
      </div>
    <%= link_to "Create booking", new_house_booking_path(@house) %>
    <%= link_to "Root", root_path %>
</div>
