<div class="booking-preview <%= booking.user.tribe.color %>">
  <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="avatar" class="avatar-booking">
  <div class="booking-data">
    <p>Du <%= booking.arrival %></p>
    <p>Au <%= booking.departure %></p>
  </div>
  <div class="chevron">
  <h1>></h1>
  </div>
</div>
