<div class="header d-flex justify-content-between">
  <div class="left-side">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="right-side">
    <% if user_signed_in? %>
      <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="avatarButton" data-bs-toggle="dropdown" aria-expanded="false"><%= cl_image_tag(current_user.photo.key, :class => "avatar dropdown-toggle border-#{current_user.tribe.color}") %>
        </button>
        <ul class="avatar-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-action" href="#">Book</a></li>
          <li><a class="dropdown-action" href="#">Logout</a></li>
        </ul>
      </div>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </div>
</div>
