<h1>New Spending</h1>

<div id="new-spending-modal" class="new-spending d-none" data-new-spending-modal-target="newSpendingModal">
  <div class="new-spending-header">
    <i id="close-modal-spending" class="fas fa-chevron-circle-left admin-icones" data-action="click->new-spending-modal#close"></i>
  </div>

  <div class="new-spending-details d-flex">
    <div class="spending-info" data-new-spending-modal-target="modalInfo">
      <div>
        <%= render 'spendings/spending_form', house: @house, spending: @spending %>
        <%= inline_svg_tag('checking_boxes_illustration.svg') %>
      </div>
    </div>
  </div>
</div>
