<div class="modal fade" id="booking-modal" tabindex="-1" aria-labelledby="booking-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content booking-recap-modal">
      <div class="modal-header d-flex justify-content-center">
        <%= inline_svg_tag('g12.svg')%>
      </div>
      <div class="modal-body booking-info" data-select-dates-target="modalInfo">
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="d-flex w-50 justify-content-between">
          <%= link_to calendar_path(@house), class: "icon-link", data: { dismiss: "modal" } do %>
            <%= inline_svg_tag('Dell_light.svg')%>
          <% end %>

          <span class="icon-link">
            <%= inline_svg_tag('Check_ring_light.svg', data: { action: "click->select-dates#submit" }) %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
