<div class="slider-item <%= tribe.color %>">
  <div class="top-slider">
  </div>
  <div class="slider-content">
    <%= cl_image_tag(tribe.admin.photo.key, :class => "avatar-bordered-large #{tribe.color}") %>
    <div class="slider-data">
      <p>Crédits restants <%= tribe.credits %></p>
      <p></p>
    </div>
  </div>
</div>
