<div class="item-preview <%= tribe.color %>">
  <%= cl_image_tag(tribe.admin.photo.key, :class => "avatar-bordered #{tribe.color}") %>
  <div class="item-data">
    <p>Crédits restants <%= tribe.credits %></p>
    <p></p>
  </div>
  <div class="chevron">
  </div>
</div>
