<div class="container">
  <div>
    <h3>Credits des familles:</h3>
      <% @tribes.each do |tribe| %>
        <%= render 'shared/tribes', tribe: tribe %>
      <% end %>
  </div>
  <div>
    <h3>Dernières réservations</h3>
      <% @last_bookings.each do |booking| %>
        <%= render 'shared/booking_preview', booking: booking %>
      <% end %>
  </div>
  <div>
    <h3>Prochains séjours</h3>
      <% @next_bookings.each do |booking| %>
        <%= render 'shared/booking_preview', booking: booking %>
      <% end %>
  </div>
  <div>
    <h3>Derniers messages</h3>
    <ul>
        <li>
          TODO // TODO // TODO ...
        </li>
    </ul>
  </div>
</div>
