<% if user_signed_in? %>
  <div class="banner">
      <h1> <%= @house.name %> </h1>
  </div>
  <div class="container pb-0">
    <div class="text-start">
      <h1>Crédits des familles:</h1>
    </div>
  </div>
  <div class="slider-container">
    <div class="slider">
      <% @tribes.each do |tribe| %>
        <%= render 'shared/tribes', tribe: tribe %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="text-start mb-4">
      <h1>Les prochains séjours</h1>
      <% @next_bookings.each do |booking| %>
        <%= render 'shared/booking_preview', booking: booking %>
      <% end %>
    </div>
    <div class="text-start mb-4">
      <h1>Vos réservations</h1>
        <% @your_bookings.each do |booking| %>
          <%= render 'shared/booking_preview', booking: booking %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
