.avatar-bordered-large {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: $balomoral_shadow;
  border: 3px solid;
  &.tribe-blue {
    border-color: $tribe_blue;
  }
  &.tribe-red {
    border-color: $tribe_red;
  }
  &.tribe-green {
    border-color: $tribe_green;
  }
}

.avatar-bordered {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: $balomoral_shadow;
  border: 3px solid;
  &.tribe-blue {
    border-color: $tribe_blue;
  }
  &.tribe-red {
    border-color: $tribe_red;
  }
  &.tribe-green {
    border-color: $tribe_green;
  }
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: $balomoral_shadow;
}
