.simple-calendar {
  color: $balmoral_dark_grey;
  height: 70vh;
  table {
    border: none;
    color: $balmoral_dark_grey;
  }
  .today {
    background: $balmoral_background;
  }
}

.calendar-heading {
  display:flex;
  justify-content: space-between;
  i {
    color: $balmoral_dark_grey;
    margin-right: 1vh;
  }
}

.table >tbody {
  border-top: 1px solid $balmoral_light_gray !important;
}


.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: transparent;
  color: $balmoral_dark_grey;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-accent-bg: transparent;
  color: $balmoral_dark_grey;
}

.table-striped > tbody > tr >td.prev-month {
  background: $balmoral_background;
  color: $balmoral_light_gray;
}

.table-striped > tbody > tr >td.next-month {
  background: $balmoral_background;
  color: $balmoral_light_gray;
}

.day-today {
  color: black;
  border-radius: 50%;
  //box-shadow: 0px 2px 2px rgba(0,0,0, 0.2);
  border: 1px solid $balmoral_dark_grey;
  background: $balmoral_background;
  height:48px;
  width: 48px;
  transition: background 0.3s ease;
  position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
  color: $balmoral_dark_grey;
}

.simple-calendar th {
  text-align: center;
  border:none;
  color: $balmoral_dark_grey;
}


.simple-calendar td {
  border: none;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  //display:flex;
  //justify-content: center;
  position: relative;
}

//.simple-calendar td.has-events {
//  background: $balmoral_yellow;
//}


.meeting {
  color: black;
  border-radius: 4px;
  background: green;
  transition: background 0.3s ease;
}

.meeting-proposed {
  color: $balmoral_dark_grey;;
  border-radius: 50%;
  background: $balmoral_yellow;
  height:48px;
  width: 48px;
  transition: background 0.3s ease;
  position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.meeting-tribe-green {
  border-radius: 50%;
  background: $tribe_green;
  height:48px;
  width: 48px;
  transition: background 0.3s ease;
  position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.meeting-tribe-red {
  border-radius: 50%;
  background: $tribe_red;
  height:48px;
  width: 48px;
  transition: background 0.3s ease;
  position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.meeting-tribe-blue {
  border-radius: 50%;
  background: $tribe_blue;
  height:48px;
  width: 48px;
  transition: background 0.3s ease;
  position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.meeting-platform {
  border-radius: 50%;
  background: $platform;
  height:48px;
  width: 48px;
  transition: background 0.3s ease;
  position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.modal-content {
  padding: 10px;
}
