.header {
  background: $balmoral_yellow;
  height: 9vh;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header .logo img {
  width: 40px;
}

.user {
  margin-bottom: 0;
  color: $balmoral_light_gray;
}

#avatarButton {
  background-color: transparent;
  border: none;
  width: auto;
  padding: 0;
}
