.header {
  background: $balmoral_yellow;
  height: 7vh;
  align-items: flex-start;
  padding: 10px;
  padding-top: 1px;
  position: sticky;
  z-index: 100;
}

.header .logo img {
  width: 40px;
}

.user {
  margin-bottom: 0;
  color: $balmoral_light_gray;
}

#avatarButton {
  background-color: transparent;
  border: none;
  width: auto;
  padding: 0;
}

.dropdown-toggle::after{
  display: none;
}

.dropdown-menu {
  padding: 0;
  background-color: $balmoral_background;
  min-width: 4em;
  & .dropdown-item {
    padding-left: 10px;
    font-size: 8px;
    color: $balmoral_dark_grey;
  }
}
