.item-preview {
  display: flex;
  height: 60px;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  color: $balmoral_dark_grey;
  // border: 1px solid $balmoral_light_gray;
  background: linear-gradient(-90deg, #80808012, transparent);
  &.tribe-green {
    .chevron {
      background-color: $tribe_green;
    }
  }
  &.tribe-red {
    .chevron {
      background-color: $tribe_red;
    }
  }
  &.tribe-blue {
    .chevron {
      background-color: $tribe_blue;
    }
  }
  & p {
    margin: 0;
  }
}

.item-preview > img {
  margin: 0 15px;
}

.chevron {
  width: 20px;
  height: 100%;
}

.item-data {
  flex-grow: 4;
  height: 90%;
  text-align: left;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.second {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
