.message-board {
display: flex;
flex-direction: column;
position: relative;
background-color: $balmoral_background;
padding-bottom: 8vh;
}
.message-box-user {
text-align: left;
align-self:flex-end;
max-width: 70vw;
border-radius: 8px;
background: linear-gradient(-90deg, #ffffff, transparent);
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
margin-top: 4vh;
padding: 1vh;
}

.message-box-system {
  text-align: left;
  align-self: left;
  max-width: 70vw;
  border-radius: 8px;
  background-color: $balmoral_background;
  margin-top: 4vh;
  padding: 1vh;
  }

.message-box {
text-align: left;
max-width: 70vw;
border-radius: 8px;
background-color: white;
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
margin-top: 4vh;
padding: 1vh;
}

.message-author-tribe-green {
font-weight: bold;
color: $tribe_green;
}

.message-author-tribe-blue {
  font-weight: bold;
  color: $tribe_blue;
  }

.message-author-tribe-red {
    font-weight: bold;
    color: $tribe_red;
    }

.message-author-system {
    font-weight: bold;
    color: $balmoral_yellow;
    }

.message-time {
  font-weight: 200;
  font-size : 0.8em;
  font-style: italic ;
  color: $balmoral_dark_grey;
}

.message-content {
color: $balmoral_dark_grey;
font-weight: lighter;
}

.message-input {
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  padding-bottom: 13vh;
  background-color: $balmoral_background;
  width: 100vw;
}

 .message-input form {
  display:flex;
  align-items: center;
}

.message-input textarea {
    font-weight: lighter;
    font-style: italic;
    min-height: 1em;
    max-height: 2em;
    width: 80vw;
    border-radius: 8px;
  }

  .message-input button {
    border: none;
    background-color: transparent;
    height: 32px;
    width: 32px;
  ;

  }

.message-input button svg {
  width: 32px;
  height: 32px;
}
