#book-button {
  position: fixed;
  bottom: 100px;
  width: 176px;
  height: 48px;
  left: 100px;
  box-shadow: $balomoral_shadow;
  z-index: 2;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  .booking-recap-modal {
    position: fixed;
    width: 85vw;
    background-color: $balmoral_yellow;
    color: $balmoral_blue;
    top: 50px;
    height: 500px;
    opacity: 0.9;
    box-shadow: $balomoral_shadow;
  }
}
