.new-spending-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $balmoral_dark_grey_with_opacity;
  z-index: 200;
  display: flex;
  justify-content: center;
}

.new-spending {
  position: absolute;
  top: 14vh;

  .new-spending-details {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    border: 1px solid $balmoral_dark_grey;
    border-radius: 8px;
    background-color: $balmoral_background;
    color: $balmoral_dark_grey;
    height: 70vh;
    width: 80vw;
    padding: 20px;
  }
  & p {
    margin: 0;
    font-size: 16px;
  }
}

.new-spending-modal-footer {
  padding: 20px;
}

#close-modal {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.5rem;
}

// icones
.admin-icones {
  color: $balmoral_yellow;
  font-size: 30px;
}

// simple form
.spending-form-style {
  color: $balmoral_icons;
  // .form-control {
  //   background: linear-gradient(-90deg, #80808012, transparent);
  //   border-radius: 5px;
  //   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  // }
}
