
.button{
  position: relative;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:after {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  left: 0;
  top:0;
  height:100%;
  width:100%;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px $balmoral_yellow;
}

.button:active:after {
  box-shadow: 0 0 0 0 $balmoral_yellow;
  height:100%;
  width:100%;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}
