.simple-booking-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $balmoral_dark_grey_with_opacity;
  z-index: 200;
  display: flex;
  justify-content: center;
}

.simple-booking {
  position: absolute;
  top: 14vh;
  .simple-booking-details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid $balmoral_dark_grey;
    border-radius: 8px;
    background-color: $balmoral_background;
    color: $balmoral_dark_grey;
    height: 70vh;
    width: 80vw;
    padding: 20px;
  }
  & p {
    margin: 0;
    font-size: 16px;
  }
}

.simple-booking-modal-footer {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.simple-booking-modal-header {
  display: flex;
  justify-content: center;
  position: relative;
}

#close-modal {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.5rem;
}

.simple-booking-preview {
  position: absolute;
  top: 50vh;
  width: 90vw;
}

.simple-booking-info {
  & .booking-illustration {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

// new_booking_modal
.calendar-booking-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid $balmoral_dark_grey;
  border-radius: 8px;
  background-color: $balmoral_background;
  color: $balmoral_dark_grey;
  height: 70vh;
  width: 80vw;
}

.booking-info {
  height: 37vh;
  padding: 20px;
}

.booking-new-illustration{
  position: absolute;
  bottom: 0;
  padding: 0px;
}

// select-dates-controller
.booking-content {
  gap: 20px;
}


// icones
.admin-icones {
  color: $balmoral_yellow;
  font-size: 30px;
}

.credit-line-wrapper {
  display: flex;
  justify-content: center;
}

.credit-base-line {
  width: 90%;
  height: 20px;
  background-color: $balmoral_light_gray;
  box-shadow: inset 0px 0px 10px rgba(150, 150, 150, 0.9);
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  .credit-balance-line {
    // width: 45%; // derived from 90 / 200 (credit balance / credit base)
    height : 20px;
    background-color: $tribe-green;
    box-shadow: 0px 0px 10px rgba(150,150,150,0.9);
    display : flex;
    justify-content: end;
    align-items: center;
    border-radius : 10px;
    .credit-price-line {
      // width : 22.22%; // derived from 20 / 90 (credit price / credit balance)
      height : 20px;
      background-color : $balmoral_yellow;
      box-shadow: 0px 0px 10px rgba(150,150,150,0.9);
      display: flex;
      justify-content: start;
      align-items: center;
      border-radius: 0 10px 10px 0;
    }
  }
}
